[config]
  skip_core_tasks = true

[tasks.default]
  dependencies = ["install"]

[tasks.install]
  command = "./installer"
  args    = ["-l"]

[tasks.deploy]
  dependencies = ["version:bump", "release", "install"]

[tasks.pack]
  command = "tar"
  args = [
    "czvf",
    "fishamnium.tar.gz",
    "completions",
    "data",
    "installer",
    "LICENSE.md",
    "loader.fish",
    "plugins",
    "themes",
    "version",
  ]

[tasks."version:bump"]
  script_runner = "@duckscript"
  script = """
    if is_empty ${1}
      exec cambi update -o -t
    else
      valid_tags = array major minor patch
      valid = array_contains ${valid_tags} ${1}
      
      if not ${valid}
        trigger_error "Usage: makers version [type=major|minor|patch]"
      end
      
      exec cambi update -o -t ${1}
    end
  """

[tasks.prerelease]
  script_runner = "@duckscript"
  script = """
    exec rm -f fishamnium.tar.gz
    
    status = exec git status -s

    if not is_empty ${status.stdout}
      trigger_error "Before triggering the workflow, make sure that the GIT branch is clean and pushed."
    end
  """

[tasks.release]
  dependencies = ["prerelease", "pack"]
  script_runner = "@duckscript"
  script = """
    version = readfile ./version
    version = trim ${version}
    notes = exec cambi release -n
    writefile release-notes.txt ${notes}

    exec git push origin
    exec git push origin -f --tags
	  exec gh release create "v${version}" -t "${version}" -F release-notes.txt fishamnium.tar.gz    
    exec rm -f fishamnium.tar.gz release-notes.txt
  """
